@media (min-width: 320px) {
	#benefits {
		margin: 20px;
	}
	#benefits ul {
		list-style-type: none;
		padding: 0px;
	}
	#benefits li img {
		float: left;
		margin: 0 15px 0 0;
		max-height: 100px;
		width: auto;
	}
	#benefits li {
		padding: 10px;
		overflow: auto;
	}
	#benefits li:hover {
		background: #E6E6FA;
	}
	#leadership-team,
	#advisory-board {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		margin: 40px;
	}
	.profile {
		border: grey thin solid;
		margin: 0px;
		padding: 10px;
		text-align: center;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		max-width: 300px;
		justify-self: center;
		
	}
	.media {
		display: flex;
		justify-content: center;
		margin: 0px;
		flex-direction: column;
	}

	.social_icons {
		display: flex;
		justify-content: center;
		margin: 0px;
		flex-direction: row;
	}

	.media-body {
		text-align: center;
		text-transform: uppercase;
		margin: 0;
	}
	.media-body ul {
		list-style-type: none;
		padding: 0;
	}
	.media-body ul li {
		padding: 0px 5px;
		display: block;
		max-width: 150px;
		margin: 5px auto;
	}

	.media-body ul li a {
		text-decoration: none;
		font-size: .75em;
	}

	.media-body ul li a:hover {
		color: #000;
	}

	.btn {
		border: thin grey solid;
		border-radius: 5px;
		color: black;
	}

	.social_icons {
		display: inline-block;
	}

	.social_icons i {
		border-radius: 50%;
		padding: 5px;
		margin: 5px;
	}
	.social_icons .fa-linkedin-in {
		background-color: #0077B5;
		color: white;
	}

	.social_icons .fa-twitter {
		background-color: #20B8FF;
		color: white;
	}
	#mission,
	#vision {
		margin: 50px;
	}
	.value {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		display: grid;
		grid-auto-rows: minmax(min-content, max-content);
		margin: 40px;
		padding: 15px;
	}
	.profile:hover,
	.value:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	.value img {
		height: auto;
		width: 100%;
		/*max-width: 100px;*/
		padding-bottom: 15px;
	}
}
@media (min-width: 768px) {
	#advisory-board {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.grid-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.grid-3 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.profile {
		max-width: 350px;			
	}
	.media {
		flex-direction: row;
	}
}
@media (min-width: 1024px) {
	#advisory-board {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}